.shop-with-us {
    min-height: 530px;
    /* margin: 0 40px; */
    padding: 40px 0;
    max-width: 100%;
    background-image: url(../../../public/assest/bg-with-us.jpg);
    background-size: contain;
}

.container {
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.color-title {
    color: #10ffda;
    margin-right: 8px;
}

/* Content */
.content {
    display: grid;
    /* align-items: center; */
    /* justify-content: space-around; */
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
}

.box {
    width: 25%;
    min-width: 220px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.box-title {
    font-size: 3rem;
    font-weight: 500;
    margin: 15px 0;
}

.box-desc {
    font-size: 1.8rem;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .shop-with-us {
    }

    .content {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 320px) and (max-width: 739px) {
    .content {
        grid-template-columns: 100%;
    }
}
