.shop-by-categories {
    width: 1200px;
    min-height: 672px;
    margin: 0 40px;
    max-width: 100%;
}

.container {
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
}

.see-all {
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    margin-right: 30px;
}

.see-all::before {
    content: "";
    width: 0px;
    height: 0.5px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease;
}

.see-all:hover.see-all::before {
    width: 100%;
}

.see-all:hover {
    color: #0056b3;
}

/* List categories */
.categories-list {
    width: 100%;
    display: grid;
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; */
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 30px;
}

.categories-item {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #f6f6f6;
    position: relative;
    margin: 30px 30px;
}

@media (min-width: 1440px) {
    .shop-by-categories {
        width: unset;
    }

    .see-all {
        margin-right: 0;
    }

    .categories-list {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .categories-item {
        margin: 30px;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .shop-by-categories {
        width: unset;
        margin: 0 30px;
    }

    .categories-item {
        margin: 30px 10px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .shop-by-categories {
        width: unset;
        margin: 0 20px;
    }
    .categories-list {
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}

@media (min-width: 320px) and (max-width: 739px) {
    .shop-by-categories {
        width: unset;
        padding-top: 80px;
        display: none;
    }

    .see-all {
        display: none;
    }

    .categories-list {
        grid-template-columns: 50% 50%;
    }

    .categories-item {
        margin: 0px 0 90px;
    }
}
