.top-product-swiper {
    width: 1200px;
    min-height: 580px;
    margin: 0 33px;
    max-width: 100%;
}

.container {
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
}

.see-all {
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    margin-right: 11px;
}

.see-all::before {
    content: "";
    width: 0px;
    height: 0.5px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease;
}

.see-all:hover.see-all::before {
    width: 100%;
}

.see-all:hover {
    color: #0056b3;
}

/* Product List */
.product-list {
    display: flex;
    /* grid-template-columns: 20% 20% 20% 20% 20%; */
}

/* Swiper */
/* .mySwiper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-height: 534px;
} */

/* .mySwiper .wrapper-slide .swiper-slide {
    width: 100%;
} */

@media (min-width: 1440px) {
    /* .see-all {
        margin-right: -140px;
    } */
    .top-product-swiper {
        width: unset;
    }

    /* .mySwiper {
        grid-template-columns: 20% 20% 20% 20% 20%;
    } */

    .swiper-slide {
        width: calc(100% / 5);
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    /* .mySwiper {
        grid-template-columns: 20% 20% 20% 20%;
        overflow: hidden;
    } */

    .top-product-swiper {
        width: unset;
    }

    .product-list {
        height: 450px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .top-product-swiper {
        width: unset;
        margin: 0 15px;
    }
    .container {
        height: 460px;
    }

    .product-list {
        height: 100%;
    }
}

@media (min-width: 320px) and (max-width: 739px) {
    .top-product-swiper {
        width: unset;
        margin: 0 20px;
    }

    .product-list {
        height: 460px;
    }

    .see-all {
        display: none;
    }
}
