.top-keyboard {
    width: 1200px;
    min-height: 612px;
    margin: 0 40px;
    max-width: 100%;
}

.container {
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
}

.see-all {
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    margin-right: 30px;
}

.see-all::before {
    content: "";
    width: 0px;
    height: 0.5px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease;
}

.see-all:hover.see-all::before {
    width: 100%;
}

.see-all:hover {
    color: #0056b3;
}

/* Product List */
.product-list {
    display: grid;
    margin-top: 16px;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

@media (min-width: 1440px) {
    .see-all {
        margin-right: -140px;
    }

    .product-list {
        grid-template-columns: 22.3% 22.3% 22.3% 22.3% 22.3%;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .top-keyboard {
        width: unset;
        margin: 0 20px;
    }
    .product-list {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .top-keyboard {
        margin: 0 20px;
        width: unset;
    }

    .product-list {
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}

@media (min-width: 320px) and (max-width: 739px) {
    .top-keyboard {
        width: unset;
        margin-top: 60px;
    }

    .see-all {
        display: none;
    }

    .product-list {
        grid-template-columns: 100%;
    }
}
